@use '../partials/color' as c
@use '../partials/typography' as t

.crypto
    display: grid
    grid-template-columns: repeat(auto-fill, minmax(310px, 1fr))
    gap: .6em 1em
    margin-bottom: 2em
    // position: relative
    
    &__card
        background-color: c.$clr-white
        padding: 1em
        border-radius: .3em
        cursor: pointer

        &:hover
            background-color: c.$clr-bg

    &__name
        font-size: 1.2rem
        font-weight: 700

    &__icon 
        width: 55px
        padding: .6em
        border-radius: .2em
        background-color: c.$clr-bg

    &__header
        display: flex
        gap: 1em

    &__symbol,
    &__lable 
        font-size: .9rem
        margin-top: .3em
        color: c.$clr-slateGray

    &__stats
        display: flex
        justify-content: center
        margin-top: 1em
        text-align: center

    &__stat 
        padding: 0 1em 

    // &__stat:not(:last-child)
    //     border-right: 1px solid c.$clr-slateGray

    &__body
        margin-top: 1em
        gap: 1.5em

    &__line-chart
        width: 60%

    &__price
        text-align: center
        margin-top: .5em
        font-size: 1.2rem

        