@use '../partials/color' as c
@use '../partials/utility' as u

    
.global__container
    display: grid
    grid-template-columns: repeat(auto-fit, minmax(230px, 1fr))
    gap: 1em
    margin: 1em 0

    .global__card 
        background-color: c.$clr-white
        padding: 1.4em 1em
        border-radius: .3em

        p 
            margin: .4em 0
            font-weight: bold
            color: c.$clr-primary
            font-size: 1.1rem
        

.section__header
    display: flex
    align-items: center
    justify-content: space-between


.cryptos
    display: flex
    gap: .7em
    margin: 1em 0

    &__line-chart
        width: 70%
        height: 400px
        background-color: c.$clr-white
        padding: 1em 1em 4em 1em
    
    &__crypto
        width: 30%
        height: 400px
        overflow-y: scroll

    &__header
        display: flex
        justify-content: space-between

    &__icon
        width: 50px

    &__name
        font-weight: 700

    &__symbol
        font-size: .9rem
        color: c.$clr-slateGray

    &__price
        font-size: 1.3rem
        font-weight: bold
        color: c.$clr-primary
        

.crypto__coin
    margin: 0 .4em
    background-color: c.$clr-white
    padding: 1em
    
.crypto__coin:not(:last-child)
    margin-bottom: .7em

 
.card__name
    // font-size: 1rem
