@use '../partials/color' as c

    
.global__container
    display: grid
    grid-template-columns: repeat(auto-fit, minmax(230px, 1fr))
    gap: 1em
    margin: 1em 0

    .global__card 
        background-color: c.$clr-white
        padding: 1.4em 1em
        border-radius: .3em

        p 
            margin: .4em 0
            font-weight: bold
            color: c.$clr-primary
            font-size: 1.1rem
        

.section__header
    display: flex
    align-items: center
    justify-content: space-between


.cryptos
    display: flex
    gap: .7em
    margin: 1em 0

    &__line-chart
        width: 70%
        height: 200px
        background-color: c.$clr-white
    
    &__crypto
        width: 30%
        height: 300px
        overflow-y: scroll

.crypto__card
    margin: 0 .4em
    
.crypto__card:not(:last-child)
    margin-bottom: .7em 

