@use '../partials/color' as c


// card header
.card__header
    display: flex
    gap: .8em
    font-weight: 700

.card__icon 
    width: 55px
    padding: .6em
    border-radius: .2em
    background-color: c.$clr-bg

.card__symbol
    font-size: .9rem
    margin-top: .3em
    color: c.$clr-slateGray


// crypto price change
.crypto__change 
    padding: .4em 1.6em
    border-radius: 20px
    width: 95px