@use 'components/partials/color' as c

* 
    margin: 0
    padding: 0
    box-sizing: border-box
    scroll-behavior: smooth

body 
    font-family: 'Montserrat', sans-serif

main 
    overflow-y: scroll
    grid-area: main
    background-color: c.$clr-bg

footer
    width: 100%
    height: 100px
    background-color: c.$clr-primary
    text-align: center


a 
    text-decoration: none